body{
    font-family: Arial, sans-serif;
    
}

h2{
    font-size: 2.3rem;
    font-weight: bold;
}
.text-input{
    font-size: 1.5rem;
    border: 2px solid rgb(197, 193, 193);
    border-radius: 5px;
    color: rgb(175, 173, 173); 
}
.text-input text{
    color: gray;
}

.input-el{
    margin-bottom: 30px;
}
button{
    font-size: 1.7rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn{
    background-color: rgb(22, 163, 9);
}
.add-btn:hover{
    background-color: rgb(73, 168, 64);
}
ul{
  display: flex;
  flex-direction: column;
  padding: 0;
 
}
li{ 
    justify-content: center;
    align-items: center;
    padding-bottom: 14px; 
}

.delete-btn{
    font-size: 1.4rem;
    background-color: rgb(185, 33, 33);
   
}
.delete-btn:hover{
    background-color: rgb(228, 68, 68);
}

